body {
    background-color: #191C37;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("./fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("./fonts/Montserrat-Semibold.ttf") format("truetype");
}

.primary-button {
    padding: 20px 60px;
    background-color: #0087FF;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    display: inline-block;
    font-weight: 300;
    transition: background-color 0.3s ease-in-out;
    border: none;
}

.primary-button:hover {
    background-color: #1264f9;
    cursor: pointer;
}

.primary-button:active, .secondary-button:active, .dropdown {
    outline: none;
    border: none;
}

.primary-button:focus, .secondary-button:focus, .dropdown  {
    outline: 0;
}

.secondary-button {
    padding: 20px 0;
    width: 290px;
    background-color: #97CB5E;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    display: inline-block;
    font-weight: 300;
    transition: background-color 0.3s ease-in-out;
    border: none;
}

.secondary-button:hover {
    background-color: #68bb42;
    cursor: pointer;
}

.status-label {
    color: #C3C5D3;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
}

.status-icon {
    margin-bottom: 20px;
}

.basic-description {
    font-size: 14px;
    line-height: 23px;
    color: #4D516F;
}

.status-wrapper {
    width: 400px;
    height: auto;
    margin: 80px auto 0 auto;
}

.back-arrow {
    padding: 10px;
    display: block;
    background-image: url("img/back-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease-in-out;
}

.back-arrow:hover {
    background-color: #1E223E;
    cursor: pointer;
}
