

#error-invalid-file-container {
    display: none;
    text-align: center;
}

.back-arrow {
    margin: 20px 0 0 25px;
    display: block;
}




#error-try-again-btn {
    margin-top: 70px;
    /*width: 150px;*/
    /*height: 70px;*/
    /*background-color: #fff;*/
}