


#loading-container {
    display: none;
    background-color: #7a9981;
    width: 100%;
    height: 100vh;
}


#progress-bar-container {
    width: 50%;
    height: 25px;
    background-color: red;
    margin: auto;
}


#progress-bar {
    width: 0;
    height: 100%;
    background-color: blue;
}