
#upload-file-container {
    display: none;
    text-align: center;
}

.upload-wrapper {
    padding-top: 110px;
}

.instruction {
    color: #84879E;
    font-size: 14px;
    margin-bottom: 40px;
    font-weight: normal;
}

.option {
    font-weight: bold;
    color: #4D516F;
    font-size: 14px;
    margin-bottom: 40px;
}

.file-type {
    font-weight: bold;
}

#upload-file-drop-zone {
    width: 450px;
    height: 400px;
    background: url("img/drop-area.svg") center no-repeat;
    margin: 85px auto 0 auto;
    transition: background 0.5s ease-in-out;
}

#upload-file-drop-zone:hover {
    background: url("img/drop-area-blue.svg") center no-repeat;
}